<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
        {{ block "title" . }}
            {{ .Site.Title }}
            {{ with .Params.Title }} | {{ . }}
            {{ end }}
        {{ end }}
    </title>

	<!-- Open Graph -->
	<meta property="og:title" content="{{ .Title }}"/>
	<meta property="og:url" content="{{ .Permalink }}"/>
	{{ with .Params.ogImage }}
		{{ $resource := $.Resources.GetMatch (.) }}
		{{ $image := $resource.Resize "x1200" }}
		{{ with $image }}
		<meta property="og:image" content="{{ $image.Permalink }}"/>
		{{ end }}
	{{ end }}

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- FontAwesome JS-->
	<script defer src="/assets/fontawesome/js/all.min.js"></script>

    {{ $styles := resources.Get "sass/main.scss" | resources.ToCSS }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
      {{ $styles := $styles | resources.Minify | resources.Fingerprint  }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-530ZXSZ8L0"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-530ZXSZ8L0');
	</script>
</head>
<body>
	<div>
		{{ partial "header/site-header.html" . }}

		<div>
			{{ block "main" . }}{{ end }} 
		</div>

		{{ partial "footer/site-footer.html" . }}
	</div>

	{{ partial "footer/scripts.html" }}
</body>
</html>