{{ define "main" }}	    
	<article class="px-3 py-5 p-md-5">
		<div class="container">
			<header>
				<h1 class="mb-2">{{ .Title }}</h2>
				<div class="mb-3">
					{{ with .Params.previouslyPublished }}
						<p class="text-muted">Previously published on Episerver Dispatch</p>
					{{ end }}
					<p class="text-muted">By
						{{ range .Param "authors" }}
							{{ . }}
						{{ end }}
						<span>, {{ .Date.Format "January 2, 2006" }}</span>
					</p>
				</div>

				
				{{ range .Param "categories" }}
					{{ with $.Site.GetPage (printf "/%s/%s" "categories" .) }}
						<p>This article is part of the <a class="" href="{{ .Permalink }}">{{ .Title }}</a> series.</p>
					{{ end }}
				{{ end }}
			</header>
			
			<div class="post-body">
				{{ .Content }}
			</div>
			{{ partial "comments.html" }}
		</div>
	</article>
{{ end }}