<footer class="footer w-100 p-3 bg-secondary">
    <div class="ps-2 ps-xl-5 mx-auto d-flex flex-column-reverse flex-lg-row justify-content-between">
        <div class="mt-4 mt-lg-0 pt-1 me-lg-5 ps-lg-5">
            <p>{{ .Site.Params.copyrightInfo }}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row pe-lg-3">
            <div class="pe-lg-5 me-lg-5">
                <h5 class="text-uppercase">Series</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/categories/caching/" class="nav-link p-0">Caching</a></li>    
                    <li class="nav-item mb-2"><a href="/categories/personalization/" class="nav-link p-0">Personalization</a></li>
                    <li class="nav-item mb-2"><a href="/categories/solution-setup/" class="nav-link p-0">Solution setup</a></li>
                    <li class="nav-item mb-2"><a href="/categories/whats-inside-foundation/" class="nav-link p-0">What's inside Foundation</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>