<script src="https://giscus.app/client.js"
        data-repo="{{ site.Params.comments.repo }}"
        data-repo-id="{{ site.Params.comments.repo_id }}"
        data-category="{{ site.Params.comments.category }}"
        data-category-id="{{ site.Params.comments.category_id }}"
        data-mapping="{{ site.Params.comments.mapping }}"
        data-reactions-enabled="{{ site.Params.comments.reactions_enabled }}"
        data-emit-metadata="{{ site.Params.comments.emit_metadata }}"
        data-theme="{{ site.Params.comments.theme }}"
        crossorigin="{{ site.Params.comments.crossorigin }}"
        async>
</script>