{{ define "main" }}	 
	<section class="py-5">
		<div class="container text-center">
			<h1 class="fw-bold">{{ .Title }}</h1>
			<div class="">
			<p>{{ .Description }}</p>
			
			</div>
		</div>
	</section>

	<div class="mx-auto px-lg-5">
		<section class="px-3 py-5 p-md-5">
			<div class="container">
			{{ range (first .Site.Params.featuredArticles (where .Site.RegularPages "Section" "posts")).ByDate.Reverse }}
				{{ .Render "li-featured" }}
			{{ end }}
			</div>
		</section>

		<section class="p-3 p-lg-5">
			<div class="container">
				<h2 class="font-weight-bold border-top pt-3">Latest articles</h2>
			</div>
		</section>
	
		<section class="px-3 py-2 p-md-2">
			<div class="container">
				<div class="row row-cols-1 row-cols-md-3 g-4">
				{{ range first .Site.Params.articlesPerPage (after .Site.Params.featuredArticles (where .Site.RegularPages "Section" "posts")).ByDate.Reverse }}
					{{ .Render "li" }}
				{{ end }}
				</div>

				<div class="my-3">
				{{ range (where .Site.Sections "Title" "Articles") }}
					<a class="" href="{{ .Permalink }}">More {{ .Title }}...</a>
				{{ end }}
				</div>
			</div>
		</section>
	</div>	
{{ end }}