{{ define "main" }}	
	<section class="py-5">
		<div class="container text-center">
			<h2 class="">{{ .Title }}</h2>
			<div class="">
			<p>{{ .Description }}</p>
			
			</div>
		</div><!--//container-->
	</section>

	<section class="p-3 p-lg-5">
		<div class="container">
			<h2 class="font-weight-bold mb-3">Latest Articles</h2>
			<div class="">Latest articles published on the site</div>
		</div><!--//container-->
	</section>

	<section class="px-3 py-5 p-md-5">
		<div class="container">
		{{ range (first .Site.Params.featuredArticles (where .Site.RegularPages "Section" "posts")).ByDate.Reverse }}
            {{ .Render "li-featured" }}
        {{ end }}
		</div>
	</section>

	<section class="p-3 p-lg-5">
		<div class="container">
			<h2 class="font-weight-bold mb-3">More articles</h2>
		</div><!--//container-->
	</section>
	
	<section class="px-3 py-5 p-md-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-md-2 g-4">
			{{ range (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
				{{ .Render "li" }}
			{{ end }}
			</div>
		</div>
	</section>	
{{ end }}